<% if flash.has?(:message) %>
<div class="container error">
  <%= flash[:message] %>
</div>
<% end %>
<h2>Welcome, <%= @user.username %>!</h2> <br />
<hr />
<a href='/medications/new'>Add new med</a>
<hr />
<% @med_array.each do |med| %>
  <% med_link = '/medications/' + med.id.to_s %>
  <a href='<%= med_link %>'><h3><%= med.name.capitalize %></h3></a>
  <!-- <i>Added: <%= med.added %></i><br /> -->
  <b>Dosage:</b> <%= med.dosage %> <%= med.dosage_units %> <%= med.frequency %><br />
  <b>Nickname:</b> <%= med.nickname.capitalize %><br />
  <b>Condition:</b> <%= med.condition.capitalize %><br />
  <b>Precribing Physician:</b> <%= med.doctor.split.map(&:capitalize).join(' ') %><br />
  <b>Date Prescribed:</b> <%= med.prescribed %><br />
  <hr />
<% end %>
