<p><h2><%= @med.name.capitalize %></h2> - <i>Added: <%= @med.added %></i><br /><br /></p>

<b>Dosage:</b> <%= @med.dosage %> - <b>Units:</b> <%= @med.dosage_units %> - <b>Frequency:</b> <%= @med.frequency.capitalize %><br />
<b>Nickname:</b> <%= @med.nickname.capitalize %><br />
<b>Condition:</b> <%= @med.condition.capitalize %><br />
<b>Precribing Physician:</b> <%= @med.doctor %><br />
<b>Date Prescribed:</b> <%= @med.prescribed %><br />
<br></br>
<a href="<%= @edit_link %>"> Edit Medication</a><br />
<form action="<%= @delete_link %>" method="POST"><input type="submit" id="submit" value="Delete Medication"></form><br />
<a href="/logout">Log out</a><br />
